rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document=**} {
      allow read, write: if true;
    }

    match /bookmarks/{document=**} {
      allow read, write: if true;
    }
  }
}